{deps, [
	{mongodb,
		".*", {git, "https://github.com/comtihon/mongodb-erlang.git",
			{branch, "master"}
		}
	},
	
	{jsx,
		".*", {git, "https://github.com/talentdeficit/jsx.git",
			{branch, "master"}
	  }
	},

	{gproc,
		".*", {git, "https://github.com/uwiger/gproc.git",
			{branch, "master"}
		}
	},
	{shotgun,
		".*", {git, "https://github.com/inaka/shotgun.git",
			{branch, "master"}
		}
	}
]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.